In [1]:
import pandas as pd
import numpy as np
import numpy as np
from keras.utils.np_utils import to_categorical

In [2]:
df = pd.read_csv('/content/drive/MyDrive/total_band.csv', header=None)
df_shuffle = df.sample(frac=1)

In [3]:
test = df_shuffle.iloc[30000:36000]
X_test = test.iloc[:,:256]
y_test = to_categorical(test[256])

In [4]:
from keras.models import load_model

new_model = load_model('/content/drive/MyDrive/h5/bandpass.h5')
loss, acc = new_model.evaluate(X_test, y_test)

188/188 [==============================] - 22s 115ms/step - loss: 8.4595e-05 - accuracy: 0.9947

In [5]:
user = pd.DataFrame(test[256].tolist(), columns=['user'] )
user = user.reset_index()

ecg = X_test.reset_index()
predict_table = pd.concat([ecg.drop(labels = 'index', axis =1), user['user']], axis = 1)
predict_table.head()

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,user
0,-0.038967,-0.039390,-0.039197,-0.038526,-0.037657,-0.036937,-0.036679,-0.037074,-0.038141,-0.039718,...,-0.041220,-0.038086,-0.036818,-0.037587,-0.040211,-0.044131,-0.048485,-0.052236,-0.054371,29
1,-0.047540,-0.056729,-0.064652,-0.070268,-0.072939,-0.072532,-0.069419,-0.064385,-0.058464,-0.052736,...,-0.043756,-0.042083,-0.040067,-0.037277,-0.033502,-0.028750,-0.023180,-0.016977,-0.010245,48
2,-0.049022,-0.046251,-0.041929,-0.036400,-0.030225,-0.024067,-0.018551,-0.014130,-0.010980,-0.008957,...,0.354869,0.159367,-0.044434,-0.230869,-0.378239,-0.472345,-0.508309,-0.490460,-0.430472,7
3,0.008292,-0.020773,-0.063268,-0.112893,-0.159853,-0.192115,-0.197485,-0.166169,-0.093346,0.018896,...,0.043957,0.046261,0.051567,0.060380,0.072551,0.087340,0.103594,0.119998,0.135329,32
4,-0.079762,-0.087181,-0.093179,-0.096695,-0.097309,-0.095447,-0.092402,-0.090149,-0.090926,-0.096613,...,0.106205,0.115670,0.122833,0.128289,0.133067,0.138366,0.145248,0.154378,0.165866,86

In [9]:
predict_table["user"].head()

0    29
1    48
2     7
3    32
4    86
Name: user, dtype: int64

In [13]:
ECG = X_test.iloc[0].tolist()

ECG = np.array(ECG)
ECG = ECG.reshape(1,256,1)

user_predict = new_model.predict(ECG, verbose=0) 
user_predict = user_predict.argmax(axis=-1)

print(user_predict)

[29]

In [10]:
for i in range(5):
  ECG = X_test.iloc[i].tolist()

  ECG = np.array(ECG)
  ECG = ECG.reshape(1,256,1)

  user_predict = new_model.predict(ECG, verbose=0) 
  user_predict = user_predict.argmax(axis=-1)

  print(user_predict)

[29]
[48]
[7]
[32]
[86]